<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>106997110066-dusgr1egak0vlbs1euo2r3gi1g1go65k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106997110066-dusgr1egak0vlbs1euo2r3gi1g1go65k</string>
	<key>API_KEY</key>
	<string>AIzaSyCpTxOkGzrIN4TYmN7RoyJ0IiT91fOi1EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106997110066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleepy.FinalAssessment</string>
	<key>PROJECT_ID</key>
	<string>finalassessment-87c87</string>
	<key>STORAGE_BUCKET</key>
	<string>finalassessment-87c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106997110066:ios:93f4f472d481306e</string>
	<key>DATABASE_URL</key>
	<string>https://finalassessment-87c87.firebaseio.com</string>
</dict>
</plist>